'.source.json':
  'elastic-load-balancer-vpc':
    'prefix': 'elastic-load-balancer-vpc'
    'body': '"${1:-}": {\n   "Type": "AWS::ElasticLoadBalancing::LoadBalancer",\n   "Properties": {\n      "Listeners" : [ ${2:-} ],\n      "SecurityGroups" : [ ${3:-} ],\n      "Subnets" : [ ${4:-} ],\n      "Tags": [\n            {\n              "Key": "${5:-}",\n              "Value": "${6:-}"\n            }\n      ]\n   }\n}'