'.source.json':
  'iam-usertogroupaddition':
    'prefix': 'iam-usertogroupaddition'
    'body': '"${1:iamUserToGroupAddition}": {\n   "Type": "AWS::IAM::UserToGroupAddition",\n   "Properties": {\n      "GroupName": "${2}",\n      "Users": [ "${3}" ]\n   }\n}'