'.source.json':
  'launch-config':
    'prefix': 'launch-config'
    'body': '"${1:launchConfigName}": {\n    "Type" : "AWS::AutoScaling::LaunchConfiguration",\n    "Properties" : {\n        "IamInstanceProfile" : ${2:"--"},\n        "ImageId" : ${3:"--"},\n        "InstanceMonitoring" : ${4:"--"},\n        "InstanceType" : "${5:--}",\n        "KeyName" : ${6:"--"},\n        "SecurityGroups" : [ ${7:"--"} ],\n        "UserData" : {\n            "Fn::Base64": \n                {   "Fn::Join": [\n                        "",\n                        [\n                            "#!/bin/bash -ex",\n                            "${8:-}"\n                        ]\n                    \n                    ]                 \n                }\n        }\n    }\n}'