'.source.json':
  'redshift-cluster':
    'prefix': 'redshift-cluster'
    'body': '"${1:redshiftCluster}": {\n  "Type": "AWS::Redshift::Cluster",\n  "Properties": {\n    "AllowVersionUpgrade": "${2:true | false}",\n    "AutomatedSnapshotRetentionPeriod": "${3}",\n    "AvailabilityZone": "${4}",\n    "ClusterParameterGroupName": "${5}",\n    "ClusterSecurityGroups": [ "${6}" ],\n    "ClusterSubnetGroupName": "${7}",\n    "ClusterType": "${8}",\n    "ClusterVersion": "${9}",\n    "DBName": "${10}",\n    "ElasticIp": "${11}",\n    "Encrypted": "${12:true | false}",\n    "HsmClientCertificateIdentifier": "${13}",\n    "HsmConfigurationIdentifier": "${14}",\n    "MasterUsername": "${15}",\n    "MasterUserPassword": "${16}",\n    "NodeType": "${17}",\n    "NumberOfNodes": "${18}",\n    "OwnerAccount": "${19}",\n    "Port": "${20}",\n    "PreferredMaintenanceWindow": "${21}",\n    "PubliclyAccessible": "${22:true | false}",\n    "SnapshotClusterIdentifier": "${23}",\n    "SnapshotIdentifier": "${24}",\n    "VpcSecurityGroupIds": [ "${25}" ]\n  }\n}'